/*medias queres necesarias (min-width):
    1-578px
    2-768px
    3-992px
    4-120px
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #eac926;
  padding-bottom: 40px;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-wrap: wrap;
}
.card-header {
  width: 50%;
  padding: 20px;
}
.logo {
  width: 100%;
}
.card-buscador {
  padding-top: 20px;
  width: 50%;
  display: flex;
}
.buscador {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 35px;
}
.buscador > input {
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  border: none;
  padding: 6px;
}
.icono-search {
  height: 35px;
  width: 20px;
  margin-right: 20px;
  background-color: white;
  border: none;
  border-radius: 0px 5px 5px 0px;
}
h1 {
  padding: 15px;
  font-size: 24px;
  color: #666;
}
h2 {
  font-size: 16px;
}
p.inicio {
  margin-top: 15px;
  margin-bottom: 40px;
  width: 100%;
}
.menu-navegation {
  display: none;
}
.banner {
  width: 100%;
}
.banner > img {
  width: 100%;
}
.box-detail {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.precio {
  font-size: 18px;
  width: 30%;
}
.descripcion {
  display: none;
  font-size: 16px;
  padding-top: 15px;
  width: 100%;
}
.descuento {
  color: #39b54a;
  font-size: 16px;
  width: 70%;
}
.box-detail .circle-fast {
  display: block;
  font-size: 16px;
  padding: 6px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}
.detail-articles .box-detail .descripcion-producto {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
nav ul {
  padding-left: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
p {
  text-align: center;
  font-size: 12px;
}
img {
  width: 100%;
}
.menu-burger {
  background-color: #1259c3;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}
.icono {
  margin-top: 50%;
}
main {
  background-color: #ebebeb;
  text-align: center;
  padding-bottom: 30px;
}
article {
  width: 90%;
  background-color: white;
  margin: auto;
  margin-bottom: 10px;
}
.box-detail {
  border: 1px solid #ebebeb;
  padding: 15px;
}
.box-detail p {
  text-align: initial;
  transition: transform 1000ms;
}
.car-buy:hover{
  transform: rotateZ(-90deg);
}
.footer {
  text-align: center;
  padding-top: 100px;
}
.footer-title {
  width: 80%;
  padding-bottom: 50px;
}
.icono2 {
  padding-bottom: 20px;
}

/*Pagina resgiter.html*/
.register-main,.login-main{
  background-color: #ffff;
}
.contenedor-form{
  padding: 30px 0px 30px 0px;
  width:90%;
  margin: 15px auto;
  background-color: aquamarine;
  border-radius: 10px;
}
.title-form{
  font-size: 30px;
  color: black;
  text-align: center;
}
.form-register,.form-login{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.form-register>input,.form-login>input{
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}
.form-register>select{
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}
.select-categoria{
  width: 90%;
  margin: auto;
}
.checkbox{
  font-size: 15px;
  text-align: start;
}
.button-form,.button-form-login{
  width: 90%;
  margin: 5px auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ffe042;
  color: white;
  font-size: 20px;
}
.button-form-login:hover{
  background-color: #0022AA;
}
.avatar-img{
  width: 45%;
}

/*---Medias Queries------*/
@media (min-width: 361px) {
  header {
    padding-bottom: 20px;
  }
  .contenedor {
    justify-content: space-between;
  }
  .card-header {
    width: 33%;
  }
  .card-buscador {
    width: 33%;
  }
  .buscador {
    margin-right: 10px;
  }
  .buscador > input {
    border-radius: 5px;
  }
  .icono-search {
    height: 35px;
    width: 10%;
    background-color: white;
    border: none;
    border-radius: 5px;
  }
  p.inicio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 40px;
    width: 33%;
    align-items: center;
  }
  .section-articles {
    display: flex;
    flex-wrap: wrap;
  }
  article {
    width: 45%;
  }
  .box-detail {
    display: flex;
  }
  .box-detail .precio {
    font-size: 18px;
    width: 100%;
  }
  .box-detail .descuento {
    color: #39b54a;
    font-size: 16px;
    width: 100%;
  }
  .menu-navegation {
    display: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .menu-navegation ul {
    width: 40%;
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .menu-navegation ul .nav-icon{
    font-size: 1em;
    padding-left: 5px;
  }
  .menu-burger {
    display: none;
  }
  .box-detail .descripcion {
    display: inherit;
    font-size: 16px;
  }
  .detail-articles {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  h1{
    text-align: initial;
  }
/*----Footer---*/
.footer{
  display: flex;
  flex-wrap: wrap;
}
.footer-title{
  width: 30%;
}
/*----Pagina de Login-----*/
.form-login{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.form-login>input{
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.button-form-login{
  width: 50%;
  margin: 5px auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #fadc45;
  color: white;
  font-size: 20px;
}
}

/*-----MEDIAS QUERIES-----*/
@media (min-width: 769px) {
  .card-header{
    width: 40%;
  }
  .card-buscador{
    align-items: center;
    width: 27%;
    padding-top: 0px;
  }
  p.inicio{
    width: 30%;
    align-items: center;
  }
  .section-articles {
    display: flex;
    flex-wrap: wrap;
  }
  article {
    width: 20%;
  }
  .box-detail .precio {
    font-size: 18px;
  }
  .box-detail .descuento {
    color: #39b54a;
  }
  .menu-navegation ul {
    width: 35%;
  }

/*----Pagina resgiter.html----*/
.contenedor-form{
  padding: 30px 0px 30px 0px;
  width:40%;
  margin: 15px auto;
  background-color:#ffe565 ;
  border-radius: 10px;
}
.title-form{
  font-size: 40px;
  color: black;
  text-align: center;
}
.form-register{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.form-register>input{
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}
.form-register>select{
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}
.select-categoria{
  width: 90%;
  margin: auto;
}
.checkbox{
  font-size: 15px;
  text-align: start;
}
.button-form{
  width: 50%;
  margin: 5px auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 58, 58);
  color: white;
  font-size: 20px;
}
.avatar-img{
  width: 30%;
}

/*----Pagina de Login-----*/
.form-login{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.form-login>input{
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.button-form-login{
  width: 50%;
  margin: 5px auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 58, 58);
  color: white;
  font-size: 20px;
}
}
