/*medias queres necesarias (min-width):
    1-578px
    2-768px
    3-992px
    4-120px
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #eac926;
  padding-bottom: 40px;
}
.logo {
  width: 200px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 15px;
}
form {
  margin-left: 30px;
}
h1 {
    padding: 15px;
  font-size: 24px;
  color: #666;
}
h2 {
  font-size: 16px;
}
p.inicio {
    margin-top: 15px;
  margin-bottom: 40px;
}
.menu-navegation {
  display: none;
}
.box-detail{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.box-detail .precio {
  font-size: 18px;
  width: 30%;
}
.box-detail .descripcion {
    display: none;
  font-size: 16px;
  padding-top: 15px;
  width: 100%;
}
.box-detail .descuento {
  color: #39b54a;
  font-size: 16px;
  width: 70%;
}
.box-detail .circle-fast {
  display: block;
  font-size:16px;
  padding: 6px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  
}
nav ul {
  padding-left: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
p {
  text-align: center;
  font-size: 12px;
}
img {
  width: 200px;
  margin: auto;
}
.menu-burger {
  background-color: #1259c3;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}
.icono {
  margin-top: 50%;
}
main {
  background-color: #ebebeb;
  text-align: center;
  padding-bottom: 30px;
}
article {
  width: 90%;
  background-color: white;
  margin: auto;
  margin-bottom: 10px;
}
.box-detail {
  border: 1px solid #ebebeb;
  padding: 15px;
}
.box-detail p {
  text-align: initial;
}
.footer {
  text-align: center;
  padding-top: 100px;
}
.footer-title {
  width: 80%;
  padding-bottom: 50px;
}
.icono2 {
  padding-bottom: 20px;
}
@media (min-width: 361px){
    .menu-navegation{
        display: inherit;
    }
    .menu-burger{
        display: none;
    }
    .box-detail .descripcion {
      display: inherit;
      font-size: 16px;
    }
    .detail-articles{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}
@media (min-width:769px){

}